/myhtml/src/App.vue
/myproject/myapp/views.py
/myproject/myapp/__pycache__/views.cpython-37.pyc
/myproject/myproject/settings.py
/myproject/myproject/__pycache__/settings.cpython-37.pyc
/myproject/myproject/__pycache__/urls.cpython-37.pyc
/myproject/runserver/__init__.py
/myproject/runserver/admin.py
/myproject/runserver/apps.py
/myproject/runserver/models.py
/myproject/runserver/tests.py
/myproject/runserver/views.py
/myproject/runserver/migrations/__init__.py
django-admin.exe
pip.exe
python.exe
/django-admin.exe
/pip.exe
/python.exe

